$bg: 'bg';
$title: 'title';
$subtitle: 'subtitle';
$divider: 'divider';
$togglebg: 'togglebg';
$togglefill: 'togglefill';

$themes: (light: (bg: linear-gradient(42deg, #FFFFFF 0%, #BCCDFF 100%),
        title: #000,
        subtitle: #2f2f2f,
        divider: rgba(0, 0, 0, 0.26),
        togglebg:#121212,
        togglefill: #FFF,
    ),
    dark: (bg: linear-gradient(42deg, #1B243F 0%, #010101 100%),
        title: #fff,
        subtitle: #F5F8FF,
        divider: #F5F8FF,
        togglebg:#EAEAEA,
        togglefill: #121212,
    ),
);

@mixin themed() {

    @each $theme,
    $map in $themes {
        .theme--#{$theme} & {
            $theme-map: () !global;

            @each $key,
            $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }

            @content;
            $theme-map: null !global;
        }
    }
}

@function t($key) {
    @return map-get($theme-map, $key);
}