.latestMusic {
  color: #fff;
  margin: auto;
  padding: 1rem 1.5rem 2.5rem;
}

@media screen and (min-width: 48rem) {
  .latestMusic {
    width: 100%;
    max-width: 48rem;
  }
}

@media screen and (min-width: 64rem) {
  .latestMusic {
    max-width: 64rem;
    padding: 1.5rem 4rem 2.5rem;
  }
}

@media screen and (min-width: 80rem) {
  .latestMusic {
    max-width: 80rem;
    padding: 1.5rem 5rem 3.5rem;
  }
}
