.project {
  width: 100%;
  border: 2px solid #0c1327;

  &:hover {
    background: #0d1426;

    .image::after {
      background: hsla(221, 54%, 7%, 0.25);
    }
  }

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.image {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    transition: 0.1s background;
  }
}

.meta {
  padding: 1rem;
}

.title {
  font-size: 1.85rem;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.022em;
  margin-bottom: 0.25rem;
}

.techStack {
  font-size: 0.95rem;
  font-weight: 600;
  letter-spacing: -0.022em;
  color: #dfdfdf;
}

.summary {
  margin: 1rem 0;
  color: #dfdfdf;
}

.label {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 1.15rem;

  svg {
    stroke: #fff;
    margin-left: 0.5rem;
  }
}

@media screen and (min-width: 48rem) {
  .image {
    min-width: 50%;
    height: 100%;

    img {
      position: absolute;
      width: auto;
      height: 100%;
    }
  }
  .meta {
    padding: 2rem;
  }
  .title {
    font-size: 2.45rem;
  }
  .summary {
    margin: 2rem 0;
    line-height: 140%;
  }
}

@media screen and (min-width: 64rem) {
  .summary {
    font-size: 1.05rem;
    max-width: 85%;
  }
}

@media screen and (min-width: 80rem) {
}
