---
import Layout from "../../layouts/Layout.astro";
import Grid from "../../layouts/Grid.astro";
import Header from "../../components/Header.astro";
import MusicItem from "../../components/MusicItem.astro";

import { getCollection } from "astro:content";

const music = (await getCollection("music")).sort((a, b) => {
	const aDate = new Date(a.data.date).getTime();
	const bDate = new Date(b.data.date).getTime();
	return bDate - aDate;
});
---

<Layout title="Music | Aman Harwara">
	<Grid>
		<Header />
		<div
			class="mt-4 sm:mt-0 order-3 col-span-2 sm:col-span-4 lg:col-span-6 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-[repeat(auto-fit,_minmax(calc(100vw_/_6),1fr))] gap-12 sm:gap-16"
		>
			{music.map((project) => <MusicItem item={project} />)}
		</div>
	</Grid>
</Layout>
