.featuresSection {
  color: #fff;
  position: relative;
  margin: auto;
  padding: 2rem 1.5rem 2.5rem;
}

.subheading {
  color: #e0e0e0;
}

.featuresGrid {
  display: flex;
  flex-flow: column;
  margin: 2rem 0;

  & > *:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.featureColumn {
  display: flex;
  flex-flow: column;
}

.featureMeta {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 1rem;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  fill: #181818;
  padding: 0.35rem;
  border-radius: 3px;
  margin-right: 1rem;
}

.title {
  font-size: 1.2rem;
  font-weight: 700;
}

.description {
  color: #e0e0e0;
}

.pill {
  padding: 0.45rem 0.75rem;
  background: #c1ddff;
  color: #0365db;
  text-transform: uppercase;
  font-size: 0.65rem;
  font-weight: 700;
  border-radius: 1rem;
  margin-left: 1rem;
}

@media screen and (min-width: 48rem) {
  .featuresSection {
    width: 100%;
    max-width: 48rem;
  }
  .subheading {
    margin: 1.25rem 0;
  }
  .featuresGrid {
    flex-flow: row;

    & > * {
      margin: 0 2.5rem 0 0 !important;
      width: 100%;
    }
  }
}

@media screen and (min-width: 64rem) {
  .featuresSection {
    max-width: 64rem;
    padding: 1.5rem 4rem 2rem;
  }
}

@media screen and (min-width: 80rem) {
  .featuresSection {
    max-width: 80rem;
    padding: 2.5rem 5rem;
  }
}
