.footer {
  background: #1f1f1f;
  border-top: 1px solid #2a2a2a;
  padding: 1.25rem 1.5rem;
}

.footerContainer {
  display: flex;
  flex-flow: column;

  & > *:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}

.copyright {
  color: #fff;
  font-weight: 600;
}

.link {
  color: #e0e0e0;
}

@media screen and (min-width: 48rem) {
  .footer {
    padding: 0;
    margin-top: 2rem;
  }

  .footerContainer {
    flex-flow: row;
    width: 100%;
    margin: auto;
    max-width: 48rem;

    & > *:not(:last-child) {
      margin-right: 2rem;
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 64rem) {
  .footerContainer {
    max-width: 64rem;
    padding: 1rem 4rem;
  }
}

@media screen and (min-width: 80rem) {
  .footerContainer {
    max-width: 80rem;
    padding: 1rem 5rem;
  }
}
