.header {
  position: sticky;
  top: 0;
  z-index: 50;
  background: #181818;
}

.nav {
  border-bottom: 1px solid #2a2a2a;
  color: #fff;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  margin: auto;
  height: 4rem;
  padding: 0 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
}

.icon {
  display: flex;
  align-items: center;
  max-width: 2rem;
  margin-right: 1rem;
}

.logoText {
  font-weight: 700;
  font-size: 1.5rem;
}

.right {
  display: none;
}

.item {
  margin-right: 2rem;

  &:hover {
    text-decoration: underline;
  }
}

.cta {
  background-color: hsl(213, 97%, 44%);
  color: #fff;
  font-weight: 600;
  font-size: 0.935rem;
  line-height: 1rem;
  padding: 0.5rem 0.85rem;
  border-radius: 3px;
  transition: 0.1s background-color;

  &:hover {
    background-color: hsl(213, 97%, 35%);
  }
}

@media screen and (min-width: 48rem) {
  .container {
    justify-content: space-between;
    max-width: 48rem;
  }
  .right {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 64rem) {
  .container {
    max-width: 64rem;
    padding: 0 4rem;
  }
}

@media screen and (min-width: 80rem) {
  .container {
    max-width: 80rem;
    padding: 0 5rem;
  }
}
