.heroSection {
  display: flex;
  flex-flow: column;
  color: #fff;
  position: relative;
  margin: auto;
  padding: 2rem 1.5rem 2.5rem;
}

.heading {
  line-height: 130%;
  margin: 0 0 0.5rem;
}

.subheading {
  margin: 1rem 0;
  line-height: 1.5;
}

.right {
  display: none;
}

@media screen and (min-width: 48rem) {
  .heroSection {
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 48rem;
  }
  .heading {
    font-size: 2.35rem;
  }
  .subheading {
    margin: 1.25rem 0;
  }
  .left {
    margin-right: 2rem;
  }
  .right {
    display: block;
    margin: 0;
    max-width: 50%;
  }
  .heroImages {
    position: relative;
    padding-bottom: 6.5rem;
  }
  .heroImageDark {
    position: absolute;
    top: 6.5rem;
    left: 0;
  }
}

@media screen and (min-width: 64rem) {
  .heroSection {
    max-width: 64rem;
    padding: 1.5rem 4rem 2rem;
  }
  .heading {
    font-size: 2.95rem;
  }
  .left {
    margin-right: 3rem;
  }
}

@media screen and (min-width: 80rem) {
  .heroSection {
    max-width: 80rem;
    padding: 2.5rem 5rem;
  }
}
