.supportSection {
  color: #fff;
  position: relative;
  margin: auto;
  padding: 2rem 1.5rem 2.5rem;
}

.flex {
  display: flex;
  flex-flow: column;
}

.copy {
  p {
    margin: 1rem 0;
    line-height: 1.5;
  }
}

.widget iframe {
  height: 34rem;
}

.supportLinks {
  display: flex;
  flex-flow: column;

  & > *:not(:last-child) {
    margin: 0 0 1rem 0;
  }
}

@media screen and (min-width: 48rem) {
  .supportSection {
    width: 100%;
    max-width: 48rem;
  }
  .flex {
    flex-flow: row;
  }
  .copy {
    margin-right: 2rem;
  }
  .widget {
    width: 40%;
    flex-shrink: 0;
  }
  .supportLinks {
    flex-flow: row wrap;

    & > * {
      margin: 0 1rem 1rem 0 !important;
    }
  }
}

@media screen and (min-width: 64rem) {
  .supportSection {
    max-width: 64rem;
    padding: 1.5rem 4rem 2rem;
  }
}

@media screen and (min-width: 80rem) {
  .supportSection {
    max-width: 80rem;
    padding: 2.5rem 5rem;
  }
}
