.mw {
  font-weight: 500;
  line-height: 125%;
  letter-spacing: -0.022em;
  margin-top: 0;
}

.sb {
  font-weight: 600;
  line-height: 140%;
}

.mw_m {
  font-size: 2rem;
}

.mw_l {
  font-size: 2.5rem;
}

@media screen and (min-width: 48rem) {
}

@media screen and (min-width: 64rem) {
  .mw_m {
    font-size: 2.75rem;
  }
  .mw_l {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 80rem) {
}
