.back-link {
    position: absolute;
    bottom: 100%;
    margin-bottom: 1.5vh;
    background: #161616 !important;
    transition: 0.15s background;
    color: #d3d3d3 !important;
}

.back-link:hover {
    background: #292929 !important;
}

.header .back-link {
    position: relative;
}