.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > * {
    display: flex;
    align-items: center;
  }

  .left .back-link {
    margin: 0 2vw 0 0;
  }

  .title {
    font-size: 5vh;
    font-weight: bold;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    flex-direction: column;
    align-items: center;
    text-align: center;

    .title:not(.show-title) {
      display: none;
    }

    .back-link {
      display: none !important;
    }

    .left {
      margin-top: 2vh;
    }

    .title {
      font-size: 4.5vh;
    }
  }
}
