.release-link {
  text-decoration: none !important;
}

.release {
  max-width: 16.5vw;
  overflow: hidden;
  margin-top: 4vh;
  margin-right: 2vw;
  cursor: pointer;
  color: #fff !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .cover {
    img {
      border-radius: 0.25vw;
      height: 16.5vw;
      transition: 0.15s filter;
    }
  }

  .title {
    font-size: 4.5vh;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 0.5vh;
  }

  .info {
    color: rgba(194, 194, 194, 0.5);
    font-size: 3vh;
    font-weight: 300;
    margin-top: 0.5vh;
  }

  &:hover .title {
    text-decoration: underline;
  }

  &:hover img {
    filter: opacity(0.5);
  }
}
