@media screen and (max-width: 1024px) {
  .button {
    font-size: 3.15vh !important;
  }

  .button.icon {
    background: #fff;
    color: #070707;
    font-size: 4vh !important;
    padding: 1vh !important;
    border-radius: 0.75vw !important;
    margin: 0 !important;
    margin-left: 2vw !important;
  }

  .track .left .number {
    margin-right: 5vw !important;
  }

  .track {
    overflow: visible;

    .left {
      overflow: hidden;

      .title {
        max-width: 80%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }

  .track .options a {
    padding: 1.25vh 2.25vh !important;
  }

  .release-container {
    flex-direction: column-reverse;
    padding: 0 !important;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;

    .separator {
      margin: auto 1vw;
    }

    .left-column {
      width: 80vw !important;

      .back-link {
        display: none;
      }

      & > .title {
        font-size: 8vh !important;
      }

      .info {
        margin-left: 0 !important;
        font-size: 3.5vh !important;
        flex-wrap: wrap !important;
        font-weight: 100 !important;

        &::before {
          display: none !important;
        }
      }

      .description {
        width: 100% !important;
      }

      .tracklist-container {
        width: 100% !important;
      }
    }

    .right-column {
      align-items: center;
      justify-content: center;

      .back-link {
        display: flex;
        position: relative;
        width: min-content;
        font-size: 5vh !important;
        margin: 0 0 5vh 0 !important;
      }

      .links {
        width: 80vw !important;
        margin: 5vh auto !important;

        & > .button:first-child {
          border-radius: 0.75vw !important;
        }

        & > .right {
          display: flex;
          align-items: center;
          margin-left: 0 !important;
        }
      }
    }

    .cover {
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      height: 80vw !important;
      border-radius: 1vw !important;
    }

    .cover img {
      height: 80vw !important;
      border-radius: 1vw !important;
    }

    .watermark::before {
      display: none !important;
    }
  }
}
