:root {
  --main-bg: #eeecea;
  --alt-bg-1: #1b1b1b;
  --alt-bg-2: #080808;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scrollbar-color: #eeecea #080808;
}

body {
  background: #eeecea;
  background: var(--main-bg);
}

h1 {
  font-weight: 800;
}

* {
  font-family: 'Inter-var', 'Inter', 'Open Sans', 'Helvetica', Roboto, Oxygen,
    Ubuntu, Cantarell, sans-serif;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('~assets/fonts/Inter-ExtraBold.woff2') format('woff2');
}
