<div class="order-1 col-span-2 lg:col-span-6">
  <h1 class="text-4xl font-semibold">
    <a href="/">Aman Harwara</a>
  </h1>
  <div class="flex flex-wrap gap-3 mt-4 items-center">
    <a
      class:list={[
        "text-xl font-medium text-zinc-300 hover:text-zinc-100 hover:underline",
      ]}
      href="/">Home</a
    >
    <div class="bg-blue-500 w-1 h-1 rounded-full"></div>
    <a
      class:list={[
        "text-xl font-medium text-zinc-300 hover:text-zinc-100 hover:underline",
      ]}
      href="/software">Software</a
    >
    <div class="bg-blue-500 w-1 h-1 rounded-full"></div>
    <a
      class:list={[
        "text-xl font-medium text-zinc-300 hover:text-zinc-100 hover:underline",
      ]}
      href="/music">Music</a
    >
  </div>
</div>
