@import './normalize.scss';
@import './theme.scss';
@import './_partial/header.scss';
@import './_partial/navigation.scss';
@import './_partial/social.scss';
@import './_partial/project.scss';
@import './icons.scss';
@import url('https://fonts.googleapis.com/css?family=Poppins:600|Public+Sans&display=swap');
@import 'node_modules/@glidejs/glide/src/assets/sass/glide.core';

html,
body {
    min-height: 100%;
}

body {
    background: map-get($default, $bg);
    background-attachment: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: map-get($default, $fg);
    font-family: Poppins, $other-fonts;
}

@media screen and (max-width: 700px) {
    body>div {
        overflow-y: scroll;
    }
}

body.dark {
    background: map-get($dark, $bg);
    color: map-get($dark, $fg);
}

.container {
    margin: 0 5rem;

    @media screen and (max-width: 425px) {
        margin: 2rem;
    }
}

br {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::selection {
    background: #0b1341;
    color: #fff;
}