.navbar {
    margin: 4rem 0 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    &::before {
        content: '-';
        display: block;
        font-size: 2rem;
        -webkit-filter: opacity(0.25);
        filter: opacity(0.25);
        margin: auto 0.15rem;
        position: absolute;
        bottom: 100%;
        left: 0;
    }

    .item {
        text-transform: uppercase;
        font-weight: 600;
        text-decoration: none;
        margin: 0.25rem 1rem;
        font-size: 1.5rem;
        color: inherit;
        position: relative;

        &::after {
            content: '';
            width: 110%;
            height: 0.4rem;
            display: block;
            background: map-get($default, $link);
            position: absolute;
            bottom: 10%;
            left: -5%;
            z-index: -2;
            -webkit-transition: height 0.15s;
            transition: height 0.15s;
        }

        &:hover {
            &::after {
                height: 1rem;
            }
        }

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.index .navbar {
    @media screen and (max-width:600px) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        .item {
            width: -webkit-min-content;
            width: -moz-min-content;
            width: min-content;
            margin: 0.5rem 0;
        }
    }
}

.dark .navbar .item::after {
    background: map-get($dark, $link);
}

.item.theme-toggle {
    cursor: pointer;

    &::after {
        bottom: 0%;
    }
}

.item.theme-toggle:hover {
    &::after {
        height: 1.65rem;
    }
}