.projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: -2rem;

    @media screen and (max-width: 700px) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.project {
    border-radius: 0.35rem;
    overflow: hidden;
    background: map-get($default, $projectbg);
    -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.06);

    .image {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .details {
        padding: 1rem 1.35rem;

        .name {
            font-size: 2rem;
            color: inherit;
            text-decoration: none;
            position: relative;

            &:hover {
                &::after {
                    content: '';
                    width: 105%;
                    height: 0.4rem;
                    display: block;
                    background: map-get($default, $link);
                    position: absolute;
                    bottom: 20%;
                    left: -2.5%;
                    z-index: -2;
                }
            }
        }

        .tags {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            width: 100%;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            margin-top: 0.5rem;
            margin-left: -0.25rem;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            .tag {
                font-family: "Public Sans", $other-fonts;
                background: map-get($default, $projecttag);
                padding: 0.3rem 0.75rem;
                border-radius: 1rem;
                font-size: 0.9rem;
                margin: 0.25rem;
            }
        }

        .description {
            font-family: "Public Sans", $other-fonts;
            margin: 0.75rem 0 0.15rem;
        }
    }
}

.dark .project {
    background: map-get($dark, $projectbg);
}

.dark .project .tags .tag {
    background: map-get($dark, $projecttag);
}

.glide__arrow {
    position: absolute;
    top: 50%;
    border: 0;
    cursor: pointer;
    font-size: 2rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.dark .glide__arrow {
    color: map-get($dark, $fg);
}

.glide__arrow:focus {
    outline: none;
}

.glide__arrow--left {
    left: -5%;
}

.glide__arrow--right {
    right: -5%;
}

@media screen and (max-width: 768px) {
    .glide__arrow--left {
        left: -10%;
    }

    .glide__arrow--right {
        right: -10%;
    }
}

@media screen and (min-width: 1370px) and (max-width: 2560px) {
    .glide__arrow--left {
        left: -3%;
    }

    .glide__arrow--right {
        right: -3%;
    }
}