---
export interface Props {
  title: string;
}

const { title } = Astro.props;

import "@fontsource/inter/400.css";
import "@fontsource/inter/500.css";
import "@fontsource/inter/600.css";
import Gradient from "../components/Gradient/GradientComponent";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="I'm a software developer from India, usually working with web technologies. I also dabble in making ambient & electronic music."
    />
    <title>{title}</title>
  </head>
  <body class="text-white mx-auto px-10 py-12 sm:px-16 md:py-32 md:px-20">
    <slot />
    <Gradient client:idle />
  </body>
</html>

<style lang="scss">
  :root {
    --container-color: hsl(240, 6%, 11%);
  }

  html,
  body {
    font-family: "Inter", sans-serif;
    min-height: 100vh;
    min-height: 100svh;
  }

  html {
    background-color: var(--container-color);
    position: relative;
  }

  body {
    margin: 0 auto;
    max-width: 1260px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
      background-image: url("../assets/noise.webp");
      mix-blend-mode: overlay;
      opacity: 0.4;
    }
  }
</style>
