.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #000;
  border: 1px solid transparent;
  transition: 0.1s background-color;
  font-size: 1.05rem;
  font-weight: 600;
  padding: 0.75rem 1.35rem;

  &[data-outlined] {
    background: transparent;
    border: 1px solid hsl(219, 37%, 26%);
    color: #fff;

    &:hover {
      background: hsl(219, 37%, 26%);
      text-decoration: none;
    }
  }
}
