.footer {
  background: hsl(224, 52%, 6%);
  border-top: 1px solid hsl(224, 53%, 10%);
}

.footerContainer {
  display: flex;
  flex-flow: column;
  color: #fff;
  margin: auto;
  padding: 1rem 1.5rem 1.5rem;

  & > *:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.copyright {
  font-size: 1.15rem;
  font-weight: 500;
}

.linkGroup {
  display: flex;

  & > *:not(:last-child) {
    margin-right: 2rem;
  }

  a {
    color: #dfdfdf;
  }

  a:hover {
    text-decoration: underline;
  }
}

@media screen and (min-width: 48rem) {
  .footerContainer {
    flex-flow: row;
    align-items: flex-start;
    width: 100%;
    max-width: 48rem;

    & > * {
      margin-bottom: 0 !important;
      margin-right: 3rem;
    }
  }

  .linkGroup {
    flex-flow: column;

    & > *:not(:last-child) {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }
}

@media screen and (min-width: 64rem) {
  .footerContainer {
    max-width: 64rem;
    padding: 1.5rem 4rem;
  }
}

@media screen and (min-width: 80rem) {
  .footerContainer {
    max-width: 80rem;
    padding: 1.5rem 5rem;
  }
}
