@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Inter Regular"), url("/fonts/Inter-Regular.woff2") format("woff2"),
    url("/fonts/Inter-Regular.woff") format("woff");
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Inter Medium"), url("/fonts/Inter-Medium.woff2") format("woff2"),
    url("/fonts/Inter-Medium.woff") format("woff");
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Inter Semi-Bold"),
    url("/fonts/Inter-SemiBold.woff2") format("woff2"),
    url("/fonts/Inter-SemiBold.woff") format("woff");
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Inter Bold"), url("/fonts/Inter-Bold.woff2") format("woff2"),
    url("/fonts/Inter-Bold.woff") format("woff");
  text-rendering: optimizeLegibility;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  background: #090e1b;
}

#menu-check:checked ~ .menu {
  display: block;
}

.menu-item {
  @apply text-base block mt-4 lg:inline-block lg:mt-0 hover:underline mr-4 md:mr-6;
}

.project-thumb {
  @apply px-4 py-5 md:px-10 md:py-7 border-b-2 md:border-0 md:border-r-2 bg-primary border-tertiary w-full min-w-1/2 md:max-w-[60%] md:h-full flex-grow overflow-hidden relative;
}

.project-thumb img {
  transition: transform 0.15s;
}

:hover > .project-thumb img {
  transform: scale(1.025);
}

.project-thumb picture {
  display: flex;
  width: 100%;
}

.image-cover picture,
.image-cover img {
  @apply w-full h-full object-cover;
  max-height: inherit;
}

.scroll-pt-5 {
  scroll-padding-top: 5rem;
}
