.header {
  position: sticky;
  top: 0;
  background: #050810;
  border-bottom: 1px solid hsl(224, 53%, 10%);
  color: #fff;
  z-index: 50;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  margin: auto;
  height: 3.5rem;
  padding: 0 1.5rem;
}

.left a {
  font-size: 1.25rem;
  font-weight: 700;
  color: #fff;
}

.right {
  nav {
    display: none;
  }
}

.menuButtonCheck {
  visibility: hidden;
  position: absolute;
}

.menuButton {
  fill: #fff;

  svg {
    width: 1.75rem;
    height: 1.75rem;
  }
}

.menuButtonCheck:checked ~ nav {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 100%;
  top: calc(100% + 1px);
  left: 0;
  background: hsl(224, 52%, 5%);
  background: #050810;
  border-bottom: 1px solid hsl(224, 53%, 10%);

  .item {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 1.5rem 0;
    font-size: 1.25rem;

    &:hover {
      background: #080e1b;
    }
  }

  :last-child {
    display: none;
  }
}

.item {
  margin-right: 2rem;

  &[data-active="true"] {
    font-weight: 700;
  }

  &:hover {
    text-decoration: underline;
  }
}

@media screen and (min-width: 48rem) {
  .container {
    max-width: 48rem;
  }
  .right,
  .right nav {
    display: flex;
    align-items: center;
  }
  .menuButton {
    display: none;
  }
}

@media screen and (min-width: 64rem) {
  .container {
    max-width: 64rem;
    padding: 0 4rem;
  }
}

@media screen and (min-width: 80rem) {
  .container {
    max-width: 80rem;
    padding: 0 5rem;
  }
}
