.cover {
  cursor: pointer;
  aspect-ratio: 1 / 1;

  img {
    width: 100%;
  }
}

.title {
  font-size: 1.85rem;
  font-weight: 700;
  margin: 0.85rem 0 0.5rem;
  letter-spacing: -0.022em;

  &:hover {
    text-decoration: underline;
  }
}

.meta {
  font-weight: 600;
  letter-spacing: -0.022em;
  color: #dfdfdf;
  margin-bottom: 1rem;
}

.description {
  color: #dfdfdf;
  margin-bottom: 1rem;
}

.release {
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 2rem;
  aspect-ratio: 1 / 1;
  position: relative;

  &[data-empty] {
    display: none;
  }

  img {
    width: 100%;
  }

  a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    transition: 0.1s background;
  }

  &:hover {
    a::after {
      background: hsla(221, 54%, 7%, 0.5);
    }
  }
}

@media screen and (min-width: 48rem) {
  .featured {
    align-items: center;
  }
  .cover {
    max-width: 20rem;
    margin-right: 2rem;
  }
  .title {
    margin-top: 0;
    font-size: 2.75rem;
  }
  .meta {
    font-size: 1.1rem;
  }
  .description {
    max-width: 75%;
    margin: 1.25rem 0;
  }
  .row {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  .release {
    margin-bottom: 0;
    width: 100%;

    &[data-empty] {
      display: block;
    }

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
}
