.flex {
  display: flex;
}

.iflex {
  display: flex;
}

.row_s {
  flex-flow: row;
}

.rwrap_s {
  flex-flow: row wrap;
}

.column_s {
  flex-flow: column;
}

.justifyCenter {
  justify-content: center;
}

.alignCenter {
  align-items: center;
}

.alignStart {
  align-items: flex-start;
}

@media screen and (min-width: 48rem) {
  .split {
    flex-flow: row;

    & > :first-child {
      margin-right: 0.5rem;
    }

    & > :last-child {
      margin-left: 0.5rem;
    }

    & > * {
      width: 100%;
      margin-bottom: 0 !important;
    }
  }

  .split_r {
    flex-flow: row-reverse;
  }

  .row_m {
    flex-flow: row;
  }

  .column_m {
    flex-flow: column;
  }
}

@media screen and (min-width: 64rem) {
  .row_l {
    flex-flow: row;
  }

  .column_l {
    flex-flow: column;
  }
  .split {
    & > :first-child {
      margin-right: 1.5rem;
    }

    & > :last-child {
      margin-left: 1.5rem;
    }
  }
}

@media screen and (min-width: 80rem) {
  .row_xl {
    flex-flow: row;
  }

  .column_xl {
    flex-flow: column;
  }
}
