.my_100 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mb_100 {
  margin-bottom: 1rem;
}

.mb_150 {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 48rem) {
}
@media screen and (min-width: 64rem) {
}
@media screen and (min-width: 80rem) {
}
