.fullwidth {
  padding: 1.5rem;
}

.px {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media screen and (min-width: 48rem) {
  .fullwidth {
    padding: 1.5rem 2.5rem;
  }

  .px {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media screen and (min-width: 64rem) {
  .fullwidth {
    padding: 2.5rem 4rem;
  }
  .px {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media screen and (min-width: 80rem) {
  .fullwidth {
    padding: 3.5rem 5rem;
  }
  .px {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
